@import 'tailwindcss';
@plugin 'daisyui';

body {
	font-family: 'Quicksand Variable', sans-serif;
}

.link {
	@apply bg-gradient-to-br from-lime-500 to-emerald-600 bg-clip-text text-transparent;
}

.text-vibrant {
	@apply bg-gradient-to-br from-lime-500 to-emerald-600 bg-clip-text text-transparent;
}

.bg-vibrant {
	@apply bg-gradient-to-br from-lime-500 to-emerald-600;
}
